<?xml version="1.0" encoding="utf-8"?>
<manifest package="it.polimi.aui.auiapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- PERMISSIONS -->
    <uses-feature android:name="android.hardware.type.watch"/>

    <!-- APPLICATION -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <!-- ACTIVITIES -->
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/title_activity_game">
        </activity>

        <!-- SERVICES -->
        <service android:name=".communication.ReceiveFromMobile">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>

        <!-- LIBRARIES -->
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false"/>

    </application>

</manifest>
